//====================================================================================================

//! Temporary classes

.temporary-class-page {
   display: grid; // Temporary classes
   place-items: center; // Temporary classes
}

.temporary-class-calculator {
   background-color: $white; // Temporary classes
}

//====================================================================================================

.page {

   // .page__container

   &__container {
      @media (min-width:$mobile) {
         max-width: 43rem;
      }

      @media (min-width:$tablet) {
         max-width: 63rem;
      }
   }
}

//====================================================================================================

.calculator {
   @media (min-width:$tablet) {
      display: flex;
   }

   @media (min-width:$mobile) {
      -webkit-border-top-left-radius: 1.25rem;
      -webkit-border-top-right-radius: 1.25rem;
      -moz-border-radius-topleft: 1.25rem;
      -moz-border-radius-topright: 1.25rem;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
   }

   @media (min-width:$tablet) {
      -webkit-border-top-left-radius: 1.25rem;
      -webkit-border-bottom-left-radius: 1.25rem;
      -moz-border-radius-topleft: 1.25rem;
      -moz-border-radius-bottomleft: 1.25rem;
      border-top-left-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem;
   }

   // .calculator__block

   &__block {
      @include adaptiveValue("padding-left", 40, 24, 0, 688, 375);
      @include adaptiveValue("padding-right", 40, 24, 0, 688, 375);
      @include adaptiveValue("padding-top", 40, 32, 0, 688, 375);
      @include adaptiveValue("padding-bottom", 40, 32, 0, 688, 375);
      width: 100%;

      @media (min-width:$tablet) {
         flex: 1 1 50%;
      }
   }

   // .calculator__form

   &__form {

      @media (min-width:$mobile) {
         -webkit-border-top-left-radius: 1.25rem;
         -webkit-border-top-right-radius: 1.25rem;
         -moz-border-radius-topleft: 1.25rem;
         -moz-border-radius-topright: 1.25rem;
         border-top-left-radius: 1.25rem;
         border-top-right-radius: 1.25rem;
         padding: toRem(40);
      }


   }

   // .calculator__header

   &__header {
      display: flex;
      gap: toRem(8);
      flex-direction: column;


      @include adaptiveValue("gap", 40, 8, 0, 688, 375);

      &:not(:last-child) {
         margin-bottom: toRem(24);
      }

      @media (min-width:$mobile) {
         justify-content: space-between;
         flex-direction: row;
         align-items: center;
      }
   }

   // .calculator__title

   &__title {}

   // .calculator__link

   &__link {
      color: $primary-dark-blue;
      text-decoration: underline;
      // align-self: flex-start
   }

   // .calculator__fields
   &__fields {

      @media (min-width:$mobile) {

         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: auto;
         gap: 1.5rem;
         align-items: center;
         grid-auto-rows: auto;
      }
   }

   // .calculator__field
   &__field {
      // margin-bottom: toRem(24);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (min-width:$mobile) {
         &:nth-child(1) {
            grid-column: span 2;
         }

         &:nth-child(2) {
            grid-column: 1;
         }

         &:nth-child(3) {
            grid-column: 2;
         }
      }
   }

   // .calculator__fields-body

   &__fields-body {
      position: relative;
      margin-bottom: toRem(12);
   }

   &__fields-body input {
      position: relative;
      max-width: 100%;
      border: 0.0625rem solid $secondary-blue;
      border-radius: 0.25rem;
      cursor: pointer;
      outline: none;

      &:focus+.calculator__fields-addon {
         border: 0.0625rem solid $accent-lime;
         background-color: $accent-lime;
      }

      &:focus {
         border: 0.0625rem solid $accent-lime;
      }

      @media (min-width:$tablet) {


         @media (any-hover: hover) {
            &:hover {
               border: 0.0625rem solid $accent-lime;
            }
         }

         @media (any-hover: hover) {
            &:hover+.calculator__fields-addon {
               background-color: $accent-lime;
            }
         }

         @media (any-hover: hover) {
            &:hover {
               border: 0.0625rem solid $accent-lime;
            }
         }

      }


      &.error {
         border: 0.0625rem solid $error-red;
      }



      &:focus {
         border: 0.0625rem solid $accent-lime;
      }

   }

   // .calculator__fields-error

   &__fields-error {}

   // .calculator__input

   &__input {
      cursor: pointer;
      border: 0.0625rem solid $secondary-blue;
      border-radius: 0.25rem;
      outline: none;

      &:focus+.calculator__fields-addon {
         border: 0.0625rem solid $accent-lime;
         background-color: $accent-lime;
      }

      &:focus {
         border: 0.0625rem solid $accent-lime;
      }

      @media (hover: hover) and (pointer: fine) {

         @media (any-hover: hover) {
            &:hover {
               border: 0.0625rem solid $accent-lime;
            }
         }

         @media (any-hover: hover) {
            &:hover+.calculator__fields-addon {
               background-color: $accent-lime;
            }
         }
      }
   }

   input {}

   // .calculator__fields-addon

   &__fields-addon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.7813rem 1rem;
      background-color: $background-light;
      color: $primary-dark-blue;
      -webkit-border-top-right-radius: 0.25rem;
      -webkit-border-bottom-right-radius: 0.25rem;
      -moz-border-radius-topright: 0.25rem;
      -moz-border-radius-bottomright: 0.25rem;
      border-top-right-radius: 0.1875rem;
      border-bottom-right-radius: 0.1875rem;


      &--left {
         left: 0;
         right: auto;
         -webkit-border-top-left-radius: 0.25rem;
         -webkit-border-bottom-left-radius: 0.25rem;
         -moz-border-radius-topleft: 0.25rem;
         -moz-border-radius-bottomleft: 0.25rem;
         border-top-left-radius: 0.1875rem;
         border-bottom-left-radius: 0.1875rem;
         border-top-right-radius: 0rem;
         border-bottom-right-radius: 0rem;
      }

      &.error {
         background-color: $error-red;
         color: $white;
      }

      @media (hover: hover) and (pointer: fine) {

         &:hover {
            background-color: $accent-lime;
         }
      }
   }

   // .calculator__fields-input

   &__fields-input {
      padding: 0.75rem 1rem 0.75rem 3.75rem;



      &--right-1 {
         padding: 0.75rem 6rem 0.75rem 1rem;
      }

      &--right-2 {
         padding: 0.75rem 4.1875rem 0.75rem 1rem;
      }
   }

   // .calculator__label

   &__label {
      &:not(:last-child) {
         margin-bottom: toRem(12);
      }
   }

   // .calculator__radio

   &__radio {

      &:not(:last-child) {
         margin-bottom: toRem(24);
      }
   }

   // .calculator__radio-body

   &__radio-body {
      display: flex;
      gap: toRem(18.25);
      padding: 0.75rem 1rem;

      &:not(:last-child) {
         margin-bottom: toRem(12);
      }

      &:has(.calculator__radio-input:checked) {
         background-color: rgba(216, 219, 47, 0.1);
         border: 0.0625rem solid $accent-lime;
      }
   }

   // .calculator__radio-input

   &__radio-input {
      // width: auto;


      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 1.2188rem;
      height: 1.2188rem;
      border-radius: 50%;
      border: 0.125rem solid $accent-lime;
      position: relative;
      cursor: pointer;
      background-color: transparent;

      &:checked::before {
         content: "";
         position: absolute;
         width: 0.625rem;
         height: 0.625rem;
         left: 19%;
         top: 20%;
         border-radius: 50%;
         background-color: $accent-lime;
      }

   }

   // .calculator__button

   &__button {}

   // .calculator__results
   &__results {
      background-color: $mainColor;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width:$mobile) {
         -webkit-border-bottom-right-radius: 1.25rem;
         -webkit-border-bottom-left-radius: 1.25rem;
         -moz-border-radius-bottomright: 1.25rem;
         -moz-border-radius-bottomleft: 1.25rem;
         border-bottom-right-radius: 1.25rem;
         border-bottom-left-radius: 1.25rem;
      }

      @media (min-width:$tablet) {
         -webkit-border-top-right-radius: 1.25rem;
         -webkit-border-bottom-right-radius: 1.25rem;
         -webkit-border-bottom-left-radius: 5rem;
         -moz-border-radius-topright: 1.25rem;
         -moz-border-radius-bottomright: 1.25rem;
         -moz-border-radius-bottomleft: 5rem;
         border-top-right-radius: 1.25rem;
         border-bottom-right-radius: 1.25rem;
         border-bottom-left-radius: 5rem;
      }
   }

   // .calculator__empty

   &__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: toRem(16);
   }

   // .calculator__img

   &__img {
      img {
         max-width: 100%;
      }
   }

   // .calculator__text

   &__text {
      text-align: center;

   }

   // .calculator__content

   &__content {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   // .calculator__visible

   &__visible {}

   // .calculator__content-title

   &__content-title {
      align-self: flex-start;

      &:not(:last-child) {
         margin-bottom: toRem(16);
      }
   }

   // .calculator__content-text

   &__content-text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 24, 0, 1008, 688);
      }
   }

   // .calculator__result

   &__result {
      border-top: 0.25rem solid $accent-lime;
      border-radius: 0.5rem;
      background: rgba(0, 0, 0, 0.25);
      width: 100%;

      @include adaptiveValue("padding-left", 32, 16, 0, 688, 375);
      @include adaptiveValue("padding-right", 32, 16, 0, 688, 375);
      @include adaptiveValue("padding-top", 32, 16, 0, 688, 375);
      @include adaptiveValue("padding-bottom", 32, 16, 0, 688, 375);
   }

   // .calculator__result-item

   &__result-item {
      hr {
         width: 100%;
         height: 0.0625rem;
         background-color: rgba(154, 190, 213, 0.25);
         margin: 0 auto;

         @include adaptiveValue("margin-bottom", 32, 16, 0, 1008, 688);
      }
   }

   // .calculator__result-title

   &__result-title {
      &:not(:last-child) {
         margin-bottom: toRem(8);
      }
   }

   // .calculator__result-value

   &__result-value {
      position: relative;
      color: $accent-lime;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 16, 0, 1008, 688);
      }

      &--white {
         color: $white;
      }

   }
}

//====================================================================================================